/* Copyright (c) 2020, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&mtp_batterydata {
	#include "battery/LC_M6300_ATL4000mAh_3633204_FG.dtsi"
	#include "battery/LC_M6300_Sunwoda4000mAh_3632066_FG.dtsi"
};

&pm6150_qg {
	qcom,qg-iterm-ma = <350>;
	qcom,s3-entry-fifo-length = <2>;
	qcom,s3-entry-ibat-ua = <30000>;
	qcom,s3-exit-ibat-ua = <50000>;
	qcom,vbatt-empty-cold-mv = <3100>;
	qcom,vbatt-empty-mv = <3100>;
	qcom,vbatt-low-cold-mv = <3700>;
	qcom,vbatt-low-mv = <3300>;
};

&pm6150_charger {
	google,usb-port-tz-name = "quiet-therm";
	qcom,chg-term-current-ma = <(-200)>;
	qcom,chg-term-src = <1>;
	qcom,sec-charger-config = <1>;
	qcom,auto-recharge-soc = <99>;
};
