/* Copyright (c) 2020, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&mtp_batterydata {
	#include "battery/LC_M6300_ATL4000mAh_3633204_FG.dtsi"
	#include "battery/LC_M6300_Sunwoda4000mAh_3632066_FG.dtsi"
};

&pm6150_qg {
	qcom,qg-iterm-ma = <200>;
	qcom,s3-entry-ibat-ua = <18000>;
	qcom,s3-exit-ibat-ua = <38000>;
	qcom,vbatt-cutoff-mv = <3400>;
};

&pm6150_charger {
	qcom,auto-recharge-soc = <99>;
	qcom,sec-charger-config = <0>;
	qcom,qg-vadc = <&pm6150_vadc>;
	qcom,chg-term-src = <1>;
	qcom,chg-term-current-ma = <(-200)>;
	qcom,thermal-mitigation = <3000000
			2500000 2000000 1500000 1000000 500000>;
};

&pm6150_pdphy{
	qcom,default-sink-caps = <5000 3000>, /* 5V @ 3A */
		<9000 3000>; /* 9V @ 3A */
};