/* Copyright (c) 2020, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&led_flash_rear_aux {
	status = "disabled";
};

&led_flash_front {
	status = "disabled";
};

&led_flash_rear_aux2 {
	status = "disabled";
};

&camera_vana1_2_ldo {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&actuator_rear {
    cci-master = <1>;
};

&eeprom_rear_aux {
	rgltr-min-voltage = <1800000 2800000 1200000 0 2800000>;
	rgltr-max-voltage = <1800000 2800000 1200000 0 2800000>;
	rgltr-load-current = <0 0 0 0 0>;
	cci-master = <0>;
	clocks = <&clock_camcc CAM_CC_MCLK1_CLK>;
};

&eeprom_front {
	regulator-names = "cam_vio", "cam_vana", "cam_vdig",
		"cam_clk";
	rgltr-min-voltage = <1800000 2800000 1200000 0>;
	rgltr-max-voltage = <1800000 2800000 1200000 0>;
	rgltr-load-current = <0 0 0 0>;
};

&actuator_triple_tele {
	status = "disabled";
};

&eeprom_triple_rear_aux {
	status = "disabled";
};

&ois_rear {
	status = "disabled";
};

&eeprom_rear {
	regulator-names = "cam_vio", "cam_vana", "cam_vdig",
		"cam_clk", "cam_vaf";
	rgltr-min-voltage = <1800000 2850000 1200000 0 2800000>;
	rgltr-max-voltage = <1800000 2850000 1200000 0 2800000>;
	rgltr-load-current = <0 0 0 0 0>;
	gpios = <&tlmm 28 0>,
			<&tlmm 47 0>,
			<&tlmm 94 0>,
			<&tlmm 98 0>;
	gpio-req-tbl-num = <0 1 2 3>;
	gpio-req-tbl-flags = <1 0 0 0>;
	gpio-req-tbl-label = "CAMIF_MCLK0",
		"CAM_RESET0",
		"CAM_DVDD1_2V",
		"CAM_AVDD1_8V";
	gpio-custom1 = <2>;
	gpio-custom2 = <3>;
	cci-master = <1>;
};

&cam_cci {
	qcom,cam-sensor@0 {
		csiphy-sd-index = <1>;
		/delete-property/ led-flash-src;
		/delete-property/ actuator-src;
		/delete-property/ ois-src;
		eeprom-src = <&eeprom_rear_aux>;
		cam_vana-supply = <&camera_vana1_2_ldo>;
		regulator-names = "cam_vio", "cam_vana", "cam_vdig",
			"cam_clk", "cam_vaf";
		rgltr-min-voltage = <1800000 2800000 1200000 0 2800000>;
		rgltr-max-voltage = <1800000 2800000 1200000 0 2800000>;
		rgltr-load-current = <0 0 0 0 0>;
		pinctrl-0 = <&cam_sensor_mclk1_active
					&cam_sensor_rear2_active>;
		pinctrl-1 = <&cam_sensor_mclk1_suspend
					&cam_sensor_rear2_suspend>;
		gpios = <&tlmm 29 0>,
				<&tlmm 45 0>;
		gpio-req-tbl-label = "CAMIF_MCLK1",
							"CAM_RESET1";
		clocks = <&clock_camcc CAM_CC_MCLK1_CLK>;
	};

	qcom,cam-sensor@1 {
		csiphy-sd-index = <0>;
		led-flash-src = <&led_flash_rear>;
		actuator-src = <&actuator_rear>;
		eeprom-src = <&eeprom_rear>;
		cam_vana-supply = <&camera_vana0_ldo>;
		cam_vaf-supply = <&pm6150_l19>;
		regulator-names = "cam_vio", "cam_vana", "cam_vdig",
			"cam_clk", "cam_vaf";
		rgltr-min-voltage = <1800000 2850000 1200000 0 2800000>;
		rgltr-max-voltage = <1800000 2850000 1200000 0 2800000>;
		rgltr-load-current = <0 0 0 0 0>;
		pinctrl-0 = <&cam_sensor_mclk0_active
					&cam_sensor_rear_active>;
		pinctrl-1 = <&cam_sensor_mclk0_suspend
					&cam_sensor_rear_suspend>;
		gpios = <&tlmm 28 0>,
				<&tlmm 47 0>,
				<&tlmm 94 0>,
				<&tlmm 98 0>;
		gpio-req-tbl-num = <0 1 2 3>;
		gpio-req-tbl-flags = <1 0 0 0>;
		gpio-req-tbl-label = "CAMIF_MCLK0",
			"CAM_RESET0",
			"CAM_DVDD1_2V",
			"CAM_AVDD1_8V";
		gpio-custom1 = <2>;
		gpio-custom2 = <3>;
		clocks = <&clock_camcc CAM_CC_MCLK0_CLK>;
	};

	qcom,cam-sensor@2 {
		/delete-property/ led-flash-src;
		regulator-names = "cam_vio", "cam_vana", "cam_vdig",
			"cam_clk";
		rgltr-min-voltage = <1800000 2800000 1200000 0>;
		rgltr-max-voltage = <1800000 2800000 1200000 0>;
		rgltr-load-current = <0 0 0 0>;
	};

	qcom,cam-sensor@3 {
		status = "disabled";
	};

	qcom,cam-sensor@4 {
		status = "disabled";
	};

	qcom,cam-sensor@5 {
		status = "disabled";
	};

	qcom,cam-sensor@6 {
		status = "disabled";
	};
};
